<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<phpunit colors="true" processIsolation="false" backupGlobals="false"
         backupStaticAttributes="false" stopOnError="false" stopOnFailure="false" stopOnSkipped="false"
         stopOnIncomplete="false"
         bootstrap="./Bootstrap.php">
    <testsuites>
        <testsuite name="modulo3">
            <directory suffix=".php">./modulo3</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="memory_limit" value="1024M"/>
        <ini name="display_errors" value="true"/>
    </php>
    <logging>
        <testdoxHtml outputFile="../result/TestResults.html"/>
    </logging>
</phpunit>
